# Server
SERVER_PORT=8080

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# OpenAi
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-5-mini
OPENAI_TEMPERATURE =0.7
OPENAI_MAX_COMPLETION_TOKENS=4096
OPENAI_TEXT_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_TEXT_EMBEDDING_DIMENSIONS=3072

# Google GenAi
GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_PROJECT_ID=
GOOGLE_GENAI_LOCATION=
GOOGLE_GENAI_MAX_TOKENS=
GOOGLE_GENAI_CHAT_MODEL=
GOOGLE_GENAI_TEMPERATURE=
GOOGLE_GENAI_TEXT_EMBEDDING_MODEL=

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=psat_frames

# Cors
CORS_ALLOWED_ORIGINS=http://localhost:*,https://web-inky-zeta-18.vercel.app
