# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Google GenAi
GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_PROJECT_ID=
GOOGLE_GENAI_LOCATION=
GOOGLE_GENAI_MAX_TOKENS=
GOOGLE_GENAI_CHAT_MODEL=
GOOGLE_GENAI_TEMPERATURE=
GOOGLE_GENAI_TEXT_EMBEDDING_MODEL=

# Qdrant
QDRANT_HOST=
QDRANT_PORT=
